@media screen and (max-width: 800px) {
    .input-with-button {
        display: flex;
        flex-flow: column;
    }

    .input-with-button input {
        width: 90%;
        margin: auto;
    }

    .input-with-button button {
        width: 90%;
    }
}