@media screen and (max-width: 800px) {
    .input-with-button {
        display: flex;
        flex-flow: column;
    }

    .input-with-button input {
        width: 50%;
        margin: auto;
        height: 20%;
    }

    .input-with-button button {
        padding: 0.2em 1em;
    }
}